@import 'scss/includes/index.scss';

.Welcome {
  letter-spacing: 1px;
  width: 100%;
  .welcome-message {
    font-size: 48px;
    margin-bottom: 20px;
  }
  .welcome-email {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 28px;
    color: $blue;
  }
  .welcome-content {
    margin-top: 20px;
  }
}